<h1>Bank</h1>
<p>Current balance: <%= to_currency(@balance) %></p>

<% unless authenticated? %>
  <a href="<%= @monzo_login_url %>">Log in with Monzo</a>
<% else%>
    <h2>Pots</h2>
    <ul>
      <% @pots.each do |pot| %>
        <li><%= pot.name %> | <%= to_currency(pot) %></li>
      <% end %>
    </ul>
    <h2>Transactions</h2>
    <table>
      <thead>
        <tr>
          <th>Months ago</th>
          <% (0..11).to_a.reverse.each do |i|%>
            <th><%= i %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @categories.each do |category| %>
          <tr>
            <th><%= category.humanize %></th>
            <% (0..11).to_a.each do |i|%>
              <td><%= to_currency(@monthly_summary[i][category]) %></td>
            <% end %>
          </tr>
        <% end %>
        <tr>
          <th>Balance</th>
          <% (0..11).to_a.reverse.each do |i|%>
            <th><%= to_currency(@monthly_balance[i]) %></th>
          <% end %>
        </tr>
      </tbody>
    </table>
    <br>
    <ul>
      <% @transactions.each do |transaction| %>
        <li>
          <%= DateTime.parse(transaction.created).strftime("%y/%m/%d %H:%M") %> 
          | <%= category(transaction) %> 
          | <%= transaction.description %> 
          | <%= to_currency(transaction) %>
          | <%= link_to 'Set category for some reason', set_category_path(transaction_id: transaction.id, category: 'Test Category!') %>
        </li>
      <% end %>
    </ul>
<% end %>
