<h1>Bank</h1>
<p>Current balance: <%= @balance.inspect %></p>

<% unless authenticated? %>
  <a href="<%= @monzo_login_url %>">Log in with Monzo</a>
<% else%>
    <h2>Pots</h2>
    <ul>
      <% @pots.each do |pot| %>
        <li><%= pot.name %> | <%= pot.balance %> <%= pot.currency %></li>
      <% end %>
    </ul>
    <h2>Transactions</h2>
    <%= @grouped_transactions %>
    <br>
    <ul>
      <% @transactions.each do |transaction| %>
        <li>
          <%= category(transaction) %> 
          | <%= transaction.created %> 
          | <%= transaction.description %> 
          | <%= transaction.amount / 100.0 %> <%= transaction.currency %>
          | <%= link_to 'Set category for some reason', set_category_path(transaction_id: transaction.id, category: 'Test Category!') %>
        </li>
      <% end %>
    </ul>
<% end %>
